@model KnerdyKnitter.ViewModels.LoginViewModel

<h2>Log in with your account</h2>
<hr />
<form asp-action="Login" asp-controller="Account" method="post">
    <label asp-for="@Model.Email">Username: </label>
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    <input type="submit" value="Log in" class="btn btn-default" />
</form>