@{
    ViewData["Title"] = "Creations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Cellular automaton are programmatic models used in various computational experiments. 
    They describe a body of cells whose evolution over time is governed by a simple rule. A rule dictates the next state of each cell (1 or 0) depending on the cell’s current state and the states of its neighboring cells. This application’s primary function is to provide knitters with a visual of how a particular cellular automaton pattern would appear when used as a color guide for a garment, where 0s are assigned the a primary color and 1s assigned a secondary color. </p>
<p>The knitting patterns generated on this site represent a 1d verion of the evolution of cellular automata, in that each row represents the next generation (i.e. individual states) of cells. This particular usage has been explored in depth my Stephen Wolfram. His book A New Kind of Science gives a detailed description of why this examination of simple patterns is relevant and necessary to the progression of many different fields of science.</p>
<p>Wolfram has made a <a href="http://www.wolframscience.com/nksonline/toc.html">A New Kind of Science</a></p>