
#changesSaved{
    display:none;
}
.cell{
    stroke-width:1;
    stroke:black;
}
.scarf{
    margin:20px;
    margin-right:10px;
    float:right;
}
#scarf{
    margin:20px;
    margin-right:10px;
    float:right;
}
input{
    margin:2px;
}
